* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background:
        linear-gradient(rgba(18, 17, 17, 0.7), rgba(0,0,0,0.7)),
        url("sign-in\ BG.jpg") center / cover no-repeat fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.background {
    position: fixed;
    inset: 0;
    background: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url("fffb11e6-864c-4a2f-8025-08032b7f45ae.png") center/cover no-repeat;
    z-index: -1;
}

.logo {
    position: absolute;
    top: 25px;
    left: 40px;
    font-size: 32px;
    font-weight: bold;
    color: #e50914;
}

.login-box {
    width: 450px;
    background: rgba(0,0,0,0.75);
    padding: 60px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
}

.login-box h1 {
    margin-bottom: 25px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    background: #333;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 15px;
}

.login-box input::placeholder {
    color: #b3b3b3;
}

.login-box button {
    width: 100%;
    padding: 14px;
    background: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.or {
    text-align: center;
    margin: 18px 0;
    color: #b3b3b3;
}

.code-btn {
    background: #333;
}

.forgot {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #b3b3b3;
    text-decoration: none;
    font-size: 14px;
}

.forgot:hover {
    text-decoration: underline;
}

.remember {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
    color: #b3b3b3;
}

.remember input {
    margin-right: 6px;
}

.signup {
    margin-top: 25px;
    font-size: 16px;
    color: #b3b3b3;
}

.signup a {
    color: white;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

.captcha {
    margin-top: 15px;
    font-size: 13px;
    color: #8c8c8c;
}

.captcha a {
    color: #0071eb;
    text-decoration: none;
}
